.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      .chat-main__group-info__box__group-name
        = @group.name
      .chat-main__group-info__box__members
        Member:
        - @group.users.each do |user|
          = user.name
        
    = link_to edit_group_path(@group), class: "chat-main__group-info__btn" do
      Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message], html: { class: "message-form" } do |f|
      .message-form__input-box
        = f.text_field :content, local: true, class: 'message-form__input-box__text', placeholder: "type a message"
        = f.label :image, local: true, class: 'message-form__input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, local: true, class: "message-form__input-box__image__file"
      = f.submit 'Send', local: true, class: "message-form__submit-btn"
