.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      %p.user-name
        = current_user.name
      %ul.menu
        %li.menu__edit
          = link_to new_group_path(current_user) do
            = icon('far', 'edit', class: "icon")
        %li.menu__cog
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: "icon")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to group_messages_path(group) do
          .side-bar__group-list__group__name
            = group.name
          .side-bar__group-list__group__new-message
            = group.show_last_message

